.project-landing-page {
  background-color: #34515f;
  height: 100%;
}

.project-cards-wrapper {
  width: 80%;
  /* margin: 0 auto; */
  margin-left: 120px;
  position: relative;
  top: 100px;
  padding-bottom: 200px;
}