.sidebar-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 80px;
}

.sidebar-name span {
  position: relative;
  top: 100px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #34515f;
}

.sidebar-list {
  position: relative;
  top: 100px;
}

.sidebar-text {
  text-align: center;
}

.sidebar-text span {
  font-size: 24px;
  color: black;
}

.sidebar-open {
  position: fixed;
  top: 20px;
  left: 30px;
  background-color: #c25e00 !important;
}